
body{
    font-family: "Open Sans", "Adobe Blank";
    color: #3d5057;
}
img{
    border-radius: 3px;
    width: 100%;
    object-fit: cover;
    height: 100%; 
}

.main-navigation{
 display: flex;
 height: 110px;
 align-items: center;
background: #FAFAF7; 
/*alcampo*/
}
.box-nav{
    display: flex;
    width: 50vw;
    justify-content: center;
}
.logo{
    display: flex;
    width: 50vw;
    justify-content: center;
    font-size: 36px;
    font-family: font-family: 'Poiret One', cursive;
    color: #3d5057
}
.box-nav li{
margin-right: 132px;
font-size: 18px;
}
.description{
    padding-top: 60px;
    flex-direction: column;
    display: flex;
    align-items: center;
  
}
.fondo{
    background: linear-gradient( #4684b3, #96d2ff 41%, #bad5e9, #ffffff);
    background-repeat: no-repeat;
    background-size: 100% 66%;
}
 .subtitulo h1{
font-size: 24px;
margin-bottom: 24px;  
color: #FAFAF7
}
.description p{
    font-size: 16px;
    font-weight: 100;
    width: 60%;
    color: #FAFAF7;
}

.subtitulo{
    /* margin-left: 242px;
    margin-right:257px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
     margin-left: 650px
}
/* .subtitulo p{
margin-top: 24px;
margin-bottom: 24px;  
} */
button{
        width: 100px;
        height: 30px;
        border-radius: 4px;
        background-color: white;
        border: none;   
        font-weight: 100;
        color: #3d5057;
        font-weight: 100;
        font-size: 14px;
        margin-top: 24px;

      }
.card {
    width: 790px;
    height: 600px;
    border-radius: 8px;
    /* background-color:white; */
    /* align-items: left; */
    margin-top: 36px;
    /* padding: -8px 0; */
    font-weight: 100;
    }

.card-wrapper {

    /* width: 100vw; */
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 242px; */
}
.fotosproyectos {
    width: 340px;
    height: 224px;
    margin: 4px;   
}
.fotosproyectos1 {
    /* background-image:url(../fotos/2board.png); 
    background-position: center;    
    background-size: cover;    
    background-repeat: no-repeat;     */
    width: 530px;
    height: 450px;
    margin: 4px;   
}
.line{
    line-break: normal
}
 h4{
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 200;
}
.card1{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.cajas{
    display: flex;
    justify-content: center;    
    flex-direction: row;
    margin-bottom: 42px;
}
.box{
    padding: 16px;
    margin: 16px;
    width: 75%;
  height: 75%;
  border-radius: 0px;
  border: solid 0.10px #3d5057;
  background-color: #ffffff;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 16%;
}
.caja{
    background:linear-gradient(#e66465, #9198e5);
    padding: 16px;
    margin: 16px;
    width: 75%;
  height: 75%;
  border-radius: 2px;
  border: solid 0.10px #3d5057;
  background-color: #ffffff;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 16%;
}
i{
    margin: 16px;
    font-size: 36px;
    color: #EDC64A;
}
footer{
    height: 100px;
    background: #FAFAF7;
}
.footy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.footy li{
    margin: 24px;
    justify-items: center;
}